$yong-black: #262626;
$yong-gray: #e8e8e8;
#root {
  .login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
      width: 272px;
      .logo {
        width: 100%;
        display: flex;
        align-items: center;
      }
      .login-contents {
        margin-top: 16px;
        .custom-inp {
          & > .title {
            font-size: 12px;
            color: $yong-black;
          }
          .inp {
            margin-top: 4px;
            width: 270px;
            border-radius: 5px;
            border: 1px solid $yong-gray;
            height: 34px;
            background-color: white;
            input {
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              border: none;
              padding: 0 8px;
              border-radius: 5px;
              margin-top: 28px;
              border: none;
            }
          }
        }
        .password-inp {
          margin-top: 20px;
        }
        .login-btn {
          width: 100%;
          height: 34px;
          background-color: $yong-black;
          color: white;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          margin-top: 28px;
        }
      }
      .go-join {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        & > .title {
          font-size: 12px;
          color: $yong-black;
          margin-right: 8px;
        }
        & > .asset {
          width: 32px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
